#profile-container {
  background-color: #F3ECE4;
  border-radius: 25px;
}

img {
  width: 75px;
  margin-right: 10px;
  border-radius: 50px;
}

#profile-container>article{
  padding: 20px;
}

.name-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.stats {
  text-align: center;
  margin-top: 20px;
}
