img {
  width: 75px;
  margin-right: 10px;
  border-radius: 50px;
}

.name-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.stats {
  text-align: center;
  margin-top: 20px;
}

#profile-container {
  grid-column: 3;
}