#welcome-box {
  background-color: #F3ECE4;
  background-image: '/mesh-gradient_1.png';
  width: 829px;
  height: 246px;
  border-radius: 15px;
  justify-content: flex-end;
}

#welcome-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
