body { 
    background-image: url("./mesh-gradient_1.png");
    background-size: cover;
}

input {
    width: 524px;
    height: 40px;
    border-radius: 15px;
    border: none;
    margin-top: 5px;
    padding-left: 20px;
}

button {
    color: #FFFFFF;
    background-color:#588980;
    border: none;
    width: 167px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
}

.signupHeader {
    text-align: center;
}

.signupForm, .login {
    padding: 50px;
    border-radius: 30px;

    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    border-style: outset;
    border-width: 0.5px;

    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.signupForm {
    height: 600px;
    width: 525px;
}

.login {
    height: 395px;
    width: 698px;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linktoLogin {
    text-align: center;
}
