body { 
    background-image: url("http://localhost:3000/mesh-gradient_1.png");
    background-size: cover;
}

input {
    width: 524px;
    height: 40px;
    border-radius: 15px;
    border: none;
    margin-top: 5px;
    padding-left: 20px;
}

button {
    color: #FFFFFF;
    background-color:#588980;
    border: none;
    width: 167px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
}

.signupHeader {
    position: absolute;
    margin: auto;
}

.signupForm {
    padding: 50px;
    border-radius: 30px;

    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);

    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 600px;
    width: 525px;
}
